

.About{
    display: grid;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    justify-items: center;
    
    img{
        border-radius: 5%;
        margin-top: -60px;        
        width: 126px;
        height: auto;
    }

    p{
        padding: 10px;
    }
}