.Header {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    background: #1f2028;
    color: rgb(221, 214, 254);
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-text-decoration: none;
    text-decoration: none;
    flex-wrap: nowrap;
    flex-direction: column;


  ::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: -1;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-background-position: center;
    background-position: center;
    background-image: radial-gradient(
      circle,
      rgba(51, 43, 61, 1) 4%,
      rgba(54, 45, 74, 1) 13%,
      rgba(65, 53, 120, 1) 40%,
      rgba(110, 66, 122, 1) 55%,
      rgba(119, 69, 122, 1) 71%,
      rgba(32, 33, 40, 1) 100%
    );
  }

  .persone {
    margin: 5px;
    margin-right: 15px;
  }

  img {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    vertical-align: -0.4em;
    margin-left: 5px;
    margin-right: 5px;
  }

}

.Popup{
    position: relative;

    #content{
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        background-color: #1f2028;
        border-radius: 5%;
        padding: 20px;
        color: white;
        z-index: 1000;
        margin-right: 15px;
    }
}

// .hideOnMobile {
//   display: inherit;
// }

// @media screen and (max-width: 428px) {
//   .hideOnMobile {
//     display: none;
//   }
// }